html {
    background-color:yellowgreen;
    font-size: 1.5em;
}

body {
    min-height: 100vh;
    display: flex;
    margin: 0px;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

h1 {
    background-color: beige;
    margin: 0em;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

#ville-region {
    width: 8.5em;
    text-align: right;
}

#region {
    font-size:medium;
}

#header-meteo {
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

#temp {
    display: flex;
    align-self: center;
}

#header-meteo, #meteo, #meteo-icon {
    display: flex;
    align-items: center;
    background-color: beige;
    justify-content: space-between;
}


.main-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin: 2em;
    gap: 2em;
    border: 0.01em groove rgba(0, 0, 0, 0.205);
    border-radius: 5px;
    background-color:lightcyan;
    box-shadow: 0 0 10px 5px rgba(89, 98, 185, 0.671);
}

#products-container {
    display: flex; 
    flex-wrap: wrap;
    width: 90%;
    height: 40%;
}

#products-container > div > img{
    height: 40%;
}

#products-container > div {
    flex-basis: 18%;
    min-width: 18%;
    text-align: center;
    border: 1px solid #000;
    flex-grow: 1;
    flex-shrink: 1;
    max-height:300px;
    justify-content: center;
}

#products-container > div:hover {
    cursor: pointer;
}
.product {
    display: flex;
    padding: 5px;
    flex-direction: column;
}

#current-page {
    background-color: lightgreen;
}

#pagesButtons {
    display: flex;
    gap: 0.25em;
    font-size: 2em;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label /* show gold star*/{
    color: #FFD700;
}

#selected-product {
    display: flex;
    gap: 2em;
    width: 80%;
    justify-content: center;
}

#cartButton {
    background-color: blueviolet;
    color: white;
    font-size: 1.2em;
    width: 8em;
    border-radius: 12px;
    padding: 5px;
    border: none;
    margin-top: 15px;
}

#cartButton:hover {
    cursor: pointer; 
}

footer {
    margin: 0px;
    background-color: grey;
    text-align: center;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}